@using NanoDotNet
@using System.Numerics


@model MikronExplorerWeb.Controllers.AccountInfo

@{
    ViewBag.Title = "Számlatörténet";
}


<div style="margin-top:50px"></div>
<h3>
    A @Request.Params["address"] számla története
</h3>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="table-responsive">
            <table class="table table-responsive table-bordered table-hover table-condensed">
                <tbody>
                    <tr>
                        <th>Fogadott</th>
                        <td class="text-right">@String.Format("{0:n4} MIKRON", Model.received)</td>
                    </tr>
                    <tr>
                        <th>Küldött</th>
                        <td class="text-right">@String.Format("{0:n4} MIKRON", Model.sent)</td>
                    </tr>
                    <tr>
                        <th>Egyenleg</th>
                        <td class="text-right">
                            @String.Format("{0:n4} MIKRON", ((decimal)Model.account.Balance.Raw) / 10000000000M)
                        </td>
                    </tr>
<tr>
<th>Tulajdonos</th>
<td class="text-right">
        @{
            string[] accs = {
                                        "mik_3wcwiegw9s93w6aecp1qe7jusmi1pk1hhcd13qx1tjbds3oc7xxgsdr5iwbc",
                                        "mik_1ne6czem49fkys8b3ugx1pjnzn66aiu1zm9ye5s9fcj4frfcx3z39gsrnbo4",
                                        "mik_3pxwnk3ck361gksa6z8etx1bwgetg3mh3g7be8sn4crp371p7r394reaznxp",
                                        "mik_1bfqfue6rdiipuk6p7doir8xhzpr8ip1ebnej6cib8n1ars1sriu3ch7bg5e",
                                        "mik_1x94oc6khmehmngw8bkh4pbi1x6wu6juybznxk9o6kij1pkgre9ri7fmffsi",
                                        "mik_1rxpxdg3wuxyz6is8q9bf8jcgb5hra78xbsznks19tj1sf18i7bdg73fxiu9",
                                        "mik_3gqbfk6ry7dugahhjmerub5iraj8piswfgb5dcp4ore1jodfaqbsxqa3esgy",
                                        "mik_3po13r7nx6p9drqmtc9nguoeftnyfbyuxi3bbirrxpyedagmiypb89a3f4do",
                                        "mik_3hywmos8w56mbfw9qpryc6q9rn7kfo8txkeujpxnczfwfw87umhhmtx8emb9",
                                        "mik_3jzxw9p9zxoyxh33rugrgx7nq6pshbfec5k8iwm748uf98ai85ms58ymwkzd"
                                     };

        }

    @if (Request.Params["address"] == "mik_15zjgj59fft6a11z8cu9u91q81s3pgr86914wy6qghh1b4kqf8j6u94isi7i")
    {
        @:kriptoakademia.com
    }
    else if (Request.Params["address"] == "mik_1yumkjq6xscowmmz6sca79sycoup1tpqabnc3zdqgpcd1756xgo1k53z7yeg")
    {
        @:Mikron Team
    }
    else if (Request.Params["address"] == "mik_1j8ohjjtg8nnbhse7crb8wu1yak79bc5cyna9mfwa4zkose7134ejb9b7sxj")
    {
        @:Mikron Team
    }
    else if (Request.Params["address"] == "mik_1eoc5ad6mog5si9e86ps1wrsxnt97ndqzhf4m4nxfb1geejpxks6rsuedxum")
    {
        @:hatharom.com
    }
    else if (Request.Params["address"] == "mik_3p1g7cpuyrz4crbeonm568k1amuc559hegpdgcsnyjhwhbspaogh7gny87t6")
    {
        @:pokerakademia.com
    }
    else if (Request.Params["address"] == "mik_3hkskhw6oyeztptbofy5iprqaffcc5iwbzzuamrerum744zfxbpdwe1y9ngt")
    {
        @:mikron.io
    }
    else if (Request.Params["address"] == "mik_1chwy8mwkzrhoumrcofm8e794i3jma7dm56k9wzikzijbq5rhx6d4soknzh3")
    {
        @:pokerakademia.com(???)
    }
    else if (Request.Params["address"] == "mik_3ezdquxxm6sdmt6ydqzfn8kee9tyoard5s4nunztejcxu9xahhtrjfdbh8zc")
    {
        @:kriptoakademia.com(???)
    }
    else if (Request.Params["address"] == "mik_1mdp38q19dht3wpw7gxrfqn4aqs3876txoic79gms7y55a3biwuo3z5yons6")
    {
        @:mikron.io(???)
    }
    else if (Request.Params["address"] == "mik_1mefbtc87z9ti53idswudw8eurj3epwdnhjhamj8mn7o439ft9nay1cw1iqx")
    {
        @:Mikron Team Reward pool
    }
    else if(accs.Contains(Request.Params["address"]))
    {
        @:Mikron Team
    }
    else
    {
        @:Nem ismert
    }

</td>
</tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-responsive table-striped table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Időpont</th>
                        <th>Cél/forrás</th>
                        <th>Típus</th>
                        <th>Összeg</th>
                        <th>Hash</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.History != null)
                    {
                        foreach (var x in Model.History)
                        {
                        <tr class="@if (x.Type == "receive")
                        {
                            @:text-success
                        }
                        else
                        {
                            @:text-danger
                        }">
                            <td style="vertical-align:middle">@{ 
                                    var BlockTime = new DateTime(1970, 1, 1, 0, 0, 0).AddSeconds(Convert.ToDouble(x.BlockTime));
                                }
                                @BlockTime
                            </td>
                            <td>
                                <a class="mono" href="@Url.Action("Account", "Home", new { address = x.Account })">
                                    @x.Account
                                    @if (x.Account == "mik_15zjgj59fft6a11z8cu9u91q81s3pgr86914wy6qghh1b4kqf8j6u94isi7i")
                                    {
                                        <br />@:(kriptoakademia.com)
                                    }
                                    else
                                    {

                                    }
                                    @if (x.Account == "mik_1yumkjq6xscowmmz6sca79sycoup1tpqabnc3zdqgpcd1756xgo1k53z7yeg")
                                    {
                                        <br />@:(Mikron Team)
                                    }
                                    @if (x.Account == "mik_1j8ohjjtg8nnbhse7crb8wu1yak79bc5cyna9mfwa4zkose7134ejb9b7sxj")
                                    {
                                        <br />@:(Mikron Team)
                                    }
                                    @if (x.Account == "mik_1eoc5ad6mog5si9e86ps1wrsxnt97ndqzhf4m4nxfb1geejpxks6rsuedxum")
                                    {
                                        <br />@:(hatharom.com)
                                    }
                                    @if (x.Account == "mik_3p1g7cpuyrz4crbeonm568k1amuc559hegpdgcsnyjhwhbspaogh7gny87t6")
                                    {
                                        <br />@:(pokerakademia.com)
                                    }
                                    @if (x.Account == "mik_3hkskhw6oyeztptbofy5iprqaffcc5iwbzzuamrerum744zfxbpdwe1y9ngt")
                                    {
                                        <br />@:(mikron.io)
                                    }
                                    @if (x.Account == "mik_1mefbtc87z9ti53idswudw8eurj3epwdnhjhamj8mn7o439ft9nay1cw1iqx")
                                    {
                                        <br />@:(Mikron Team Reward pool)
                                    }
                                    @if (accs.Contains(x.Account))
                                    {
                                        <br />@:(Mikron Team)
                                    }
                                </a>
                            </td>
                            <td style="vertical-align:middle">
                                @if (x.Type == "receive")
                                {
                                    @:Fogadás
                                }
                                else
                                {
                                    @:Küldés
                                }
                            </td>
                            <td class="text-right" style="vertical-align:middle">
                                @String.Format("{0:n4} MIK", ((decimal)x.Amount.Raw) / 10000000000M)
                            </td>

                            <td style="font-size:0.8em;vertical-align:middle;font-family:monospace" title="@x.Hash">
                                @x.Hash.Substring(0,20)+"..."
                            </td>
                        </tr>
                    }
                    }
                    else
                    {
                        <tr>
                            <td class="bg-danger text-center text-danger" colspan="5" style="font-weight:bold"><strong>NINCS HISTORY A BLOKKLÁNCBAN!!!!!!</strong></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    .mono {
        font-family: monospace;
    }
</style>
