@using NanoDotNet
@using System.Numerics
@model MikronExplorerWeb.Controllers.Data

@{
    ViewBag.Title = "MIKRON Számla felfedező";
}
@{
    int counter = 1;
}

<div style="margin-top:40px"></div>
<h1 class="text-center">MIKRON számlák</h1>
<div class="row">
       <div  class="col-md-6 col-md-offset-3" style="margin-bottom:20px"><form action="http://mikron-explorer.csillamfejleszto.hu/Home/Account"><input style="width:470px;max-width:80%" type="text" name="address" placeholder="Cím"/><input type="submit" value="Keresés"/></form></div>
</div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <td>#</td>
                            <th>Cím</th>
                            <th>Tulajdonos</th>
                            <th class="text-right">Egyenleg</th>
                            <th class="text-right">Hány százalékot tulajdonol</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model.data)
                        {
                            <tr>
                                <td class="text-center">@counter.</td>
                                <td><a class="mono" href="@Url.Action("Account", "Home", new { address = x.Key })">@x.Key</a></td>
<td>
	@if(x.Key=="mik_15zjgj59fft6a11z8cu9u91q81s3pgr86914wy6qghh1b4kqf8j6u94isi7i"){
		@:kriptoakademia.com
	}else{

	}
	@if(x.Key=="mik_1yumkjq6xscowmmz6sca79sycoup1tpqabnc3zdqgpcd1756xgo1k53z7yeg"){
		@:Mikron Team
	}
	@if(x.Key=="mik_1j8ohjjtg8nnbhse7crb8wu1yak79bc5cyna9mfwa4zkose7134ejb9b7sxj"){
		@:Mikron Team
	}
	@if(x.Key=="mik_1eoc5ad6mog5si9e86ps1wrsxnt97ndqzhf4m4nxfb1geejpxks6rsuedxum"){
		@:hatharom.com
	}
	@if(x.Key=="mik_3p1g7cpuyrz4crbeonm568k1amuc559hegpdgcsnyjhwhbspaogh7gny87t6"){
		@:pokerakademia.com
	}
	@if(x.Key=="mik_3hkskhw6oyeztptbofy5iprqaffcc5iwbzzuamrerum744zfxbpdwe1y9ngt"){
		@:mikron.io
	}
	@if(x.Key=="mik_1chwy8mwkzrhoumrcofm8e794i3jma7dm56k9wzikzijbq5rhx6d4soknzh3"){
		@:pokerakademia.com(???)
	}
	@if(x.Key=="mik_3ezdquxxm6sdmt6ydqzfn8kee9tyoard5s4nunztejcxu9xahhtrjfdbh8zc"){
		@:kriptoakademia.com(???)
	}	
	@if(x.Key=="mik_1mdp38q19dht3wpw7gxrfqn4aqs3876txoic79gms7y55a3biwuo3z5yons6"){
		@:mikron.io(???)
	}	


</td>
                                <td class="text-right">@String.Format("{0:n4} MIKRON", (((decimal)x.Value.Balance.Raw) / 10000000000M))</td>
                                <td class="text-right">@(Math.Round(((((decimal)x.Value.Balance.Raw) * 100M) / ((decimal)Model.all)), 5).ToString("F5")) %</td>
                            </tr>
                           counter++;
                        }
                    </tbody>
                </table></div>
            </div>
        </div>
<style>
.mono{
  font-family: monospace;
}
</style>